<h1>Hello World!</h1>
<form action="/solve" method="post">
  <div class="row">
    <input type="text" class="col">
    <input type="text" class="col">
    <input type="text" class="col">
    <input type="text" class="col">
    <input type="text" class="col">
    <input type="text" class="col">
    <input type="text" class="col">
    <input type="text" class="col">
    <input type="text" class="col">
  </div>
</form>