<h1>Hello World!</h1>
<form action="/solve" method="post">
  <div class="row group">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
    <input type="text" class="col span_1_of_9">
  </div>
</form>