<h1>Hello World!</h1>
<form action="/solve" method="post" class="board">
    <table>
        <tbody>
            <% 9.times do |row_i| %>
            <tr class="row">
                <% 9.times do |col_i| %>
                <td class="col"><input type="text" name="col: <%= col_i %>" class="number-input"></td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
    <button type="submit">Solve!</button>
</form>