<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sudoku Solver</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  <%= yield %>


  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>