h1 {
  text-align: center;
}

.board {
  text-align: center;

  table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
  }

  .row {
    width: 100%;

    .col {
      width: 3em;

      input {
        width: 100%;
      }
    }
  }

  button {
    margin-top: 2%;
  }
}